# Node dependencies
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment files
.env
.env.local

# Operating System files
.DS_Store
Thumbs.db

# Database store if desired to keep private
# server/data/*.json
